@use "../../presets" as *;
@use "../../mixins" as *;

.dev {
    background-color: $color-primary;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.dev input {
    background-color: rgba($color-light, 0.05);
    padding: 20px;
    border: 2px solid rgba($color-light, 0);
    border-bottom: 2px solid rgba($color-light, 0.1);
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    color: $color-light;
    transition: 0.5s;
    flex-grow: 1;
}

.dev input:focus {
    border-color: rgba($color-light, 0.1);  
    border-bottom-color: $color-light;
    background-color: rgba($color-light, 0.15);
}

 .dev input::placeholder {
    color: $color-gray;
 }

 .dev input::hover::placeholder {
    color: rgba($color-light, 50%);
 }