@use "../../presets" as *;
@use "../../mixins" as *;


.header-content {
    position: relative;
    // С помощью индекса выносим наш контент на передний край
    z-index: 1;
    width: 100%;
    
    &__container {
    @extend %container;
   }

&__title {
    margin: 0 0 53px 0;
    text-align: center;
}

// кнопки
&__actions {
    display: flex;
    justify-content: center;
    
    // остпуп между кнопками
    gap: $gap;
}
}