@use "../../presets" as *;
@use "../../mixins" as *; 

// Убираем значением none
 .header-navbar {
    &__btn {
        display: none;
    }
    &__list {
         display: grid;
         justify-content: end;
         gap: $gap;    
         grid-template-columns: repeat(auto-fit, minmax( 50px, max-contant ));
         
        @include unlist (0 (-$gap-sm) 0 0);
       }
       
       &__item {
         margin: $gap $gap-sm;
      
       }
// отступы для ссылок
       &__link {
        display: block;
        padding: $gap $gap-sm;  
        transition: color 0.5s;
        font-size: 1.125rem;
      //   отступ
        letter-spacing: 0.1em;
      //   фокус
         &:hover,
         &:focus {
            color: $color-accent;
         }
       }
 }